<div class="flex-fill d-flex flex-column container-chat">
  <ul class="list-messages flex-fill"></ul>
  <div class="d-flex flex-row">
    <input type="text" class="form-control flex-fill mr-2">
    <button type="submit" class="btn btn-md btn-primary">Submit</button>
  </div>
</div>