<div class="flex-fill d-flex flex-column container-chat">
  <ul class="list-messages flex-fill">

    <% for(var i=0; i<100; i++) {%>
      <li class="item-message d-flex flex-row mb-2">
        <span class="item-message-time">12:00</span>
        <strong class="item-message-name">Jean</strong>
        <span class="item-message-content flex-fill">Hello World!!!</span>
      </li>
    <% } %>

  </ul>

  <div class="d-flex flex-row">
    <input type="text" class="form-control flex-fill mr-2">
    <button type="submit" class="btn btn-md btn-primary">Submit</button>
  </div>
</div>